@import com.pdfjet
@(message: String)
@main("My cart") {
    <a href="/index-logined">< Back to POIs list</a>
    <h1>Your trips <a href="/editTrip">(edit)</a></h1>
    <h3>You cart contains:</h3>
    @*<a class="button" style="display: @Buttons.adminButton()" href="/editTrip">
        <button type="button" class="btn btn-primary">Edit trips</button>
    </a>*@

    <div class="table-view " style="max-width : 70 %">

        <table class="table table-bordered html-editor-align-center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>POIs</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Pay</th>
                </tr>
            </thead>
            <tbody>
            @Html(message)
            </tbody>
        </table>
    </div>


}