@(form: Form[TripController.TripForm])

@main("Edit trip") {
    <a href="/cart">< Back to cart</a>
    <h1>Edit trip</h1>
    <br>
    <form role="form" action="@routes.TripController.renderEditTrip()" method="post" id="input-form-edit">

        <div>
            <label> Enter ID :</label>
        </div>
        <div class="form-group">
            <label for="name">Id</label>
            <input type="number" class="form-control" name="id" value="@TripController.getTripForm.id" >
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Name" name="name" value="@TripController.getTripForm.name">
        </div>


        <button type="submit" id="button" name="button" value="get" class="btn btn-primary">Get by ID</button>
        <button type="submit" id="button" name="button" value="edit" class="btn btn-primary">Edit</button>
        <button type="submit" id="button" name="button" value="delete" class="btn btn-primary">Delete</button>
    </form>
}