@(message: String)



    @main("Index") {
        <div class="jumbotron">
            <h2>Welcome to TAS application!</h2>
            <p>The simpliest way to travel</p>
        </div>


        <div class="btn-block">


            <br>
            <a class="button" style="display:@Buttons.loginButton()" href="@routes.Login.renderLogin()">
                <button type="button" class="btn btn-primary">Login</button>
            </a>
            <a class="button" style="display:@Buttons.logoutButton()" href="@routes.Login.logout()">
                <button type="button" class="btn btn-primary">Logout</button>
            </a>

            <a class="button" style="display:@Buttons.logoutButton()" href="/index-logined">
                <button type="button" class="btn btn-primary">Trip creating</button>
            </a>
            <br>


            <br>


        </div>

        <!-- Map support goes here -->
        <!-- logic goes in /js/loadMap.js -->


    }


