@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <script src="@routes.Assets.at("js/jquery-2.1.3.js")"></script>

        <script src="@routes.Assets.at("js/bootstrap.js")"></script>




        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>
    <body>
        <div class="container">

            <header class="container">
                <div class="page-header disabled">
                    @if(!session().isEmpty()) {

                        <nav>
                            <a href="/logout">Logout</a>
                        </nav>

                    }

                        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                        Travel agency application (TAS)

                </div>
            </header>

            @content

            <footer class="container">
                <div class="modal-footer">&copy;FEL CVUT 2014</div>
            </footer>
        </div>
    </body>
</html>
