@(message: String)(tripId: String)
@main("Payment") {
    <h1>Payment for trip</h1>
    @Html(message)

    <form action="/paymentIsOk" method="GET" style="margin-top : 50 px ;">
        <input type="text" value="your card data" name="cardData" style="margin-top : 15 px ;"><br>
        <input type="text" value="CVV" name="cardCVV" style="margin-top : 15 px ;"><br>
        <input type="text" value="expired" name="cardExpired" style="margin-top : 15 px ;"><br>
        <input type="hidden" value="@Html(tripId)" name="tripId">
        <input type="submit" value="Pay" style="margin-top : 15 px ;">
    </form>
}
