@import com.fasterxml.jackson.databind.JsonNode
@(message: String)(cord: JsonNode)(road: String)


@main("Trip") {
    <p id="cord" class="invisible">@cord</p>


    <script src="http://maps.google.com/maps/api/js?key=AIzaSyB7zIjzjoOfTQBuGX2h110tUfoC0Wje430"></script>

    <script src="@routes.Assets.at("js/loadMap.js")"></script>

    <h1>Trip overview</h1>
    <h2>You trip contains:</h2>

    <div class="table-view " style="max-width : 70 %">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
            @Html(message)
            </tbody>
        </table>
    </div>

    <section class="social">
        <nav class="share">
            <h3>Share your trip in:</h3>
            <a target="_blank" href="https://twitter.com/intent/tweet?text=I will travel @road. Join me with TAS!&amp;url=http://example.com/">
                Twitter</a>
            <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://example.com/">Facebook</a>
            <a target="_blank" href="https://plus.google.com/share?url=http://example.com/">Google+</a>
        </nav>
        <nav class="print">
            <h3>To print your trip:</h3>
            <a href="javascript:window.print();">click here</a>
        </nav>
    </section>




    <!-- Map support goes here -->
    <!-- logic goes in /js/loadMap.js -->

    <div class="container" id="map-canvas">
        <h2>Route:</h2>

        <div id="mymap"></div>
        <div id="directionsPanel" style="float : right ; width : 30 % ; height 100 %">
            <p>Total Distance: <span id="total"></span></p>
        </div>

}