@import com.fasterxml.jackson.databind.JsonNode
@(message: String)(cord: JsonNode)(poiString: String)(deleted: String)(road: String)

@main("Trip") {
    <p id="cord" class="invisible">@cord</p>


    <script src="http://maps.google.com/maps/api/js?key=AIzaSyB7zIjzjoOfTQBuGX2h110tUfoC0Wje430"></script>

    <script src="@routes.Assets.at("js/loadMap.js")"></script>

    <h1>Trip overview</h1>
    <h2>You trip contains:</h2>
    <form role="form" action="@routes.Application.renderCart()" method="get">
        <div class="table-view " style="max-width : 70 %">
            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                @Html(message)
                </tbody>
            </table>
        </div>
        <br>
        <input type="hidden" name="pois_to_trip" value="@poiString">
        <button type="submit" id="button" name="button" value="add" class="btn btn-primary">
            Add to cart</button>
        <button type="submit" id="button" name="button" value="remove" class="btn btn-primary">
            Remove</button>
        @*<button type="submit" id="button" name="button" value="return" class="btn btn-primary">*@
        @*Add back</button>*@
        <button type="button" class="btn btn-primary" onclick="goBack ()" >Add Back</button>

    </form>

    <a class="button" href="/index-logined">
        <button type="button" class="btn btn-primary" >Back</button>
    </a>


    <script>
    function goBack () {
    window.history.back ( )
    }
    </script>


    <script>
    $ ( "#table tr" ).click ( function ( ) {
    if ( document.getElementById ( ( $ ( this ).index ( ) + 1 ) ).checked == true ) {
    document.getElementById ( ( $ ( this ).index ( ) + 1 ) ).checked = false ;
    } else {
    document.getElementById ( ( $ ( this ).index ( ) + 1 ) ).checked = true ;
    }
    } ) ;
    </script>

    <form role="form" action="@routes.Application.renderCart()" method="get">
        <div class="table-view " style="max-width : 70 %">
            <table class="table table-bordered" id="table_deleted">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                @Html(deleted)
                </tbody>
            </table>
        </div>
        <input type="hidden" name="pois_to_trip" value="@deleted">
    </form>


    <script>
    $ ( "#table_deleted tr" ).click ( function ( ) {
    if ( document.getElementById ( ( $ ( this ).index ( ) + 1 ) ).checked == true ) {
    document.getElementById ( ( $ ( this ).index ( ) + 1 ) ).checked = false ;
    } else {
    document.getElementById ( ( $ ( this ).index ( ) + 1 ) ).checked = true ;
    }
    } ) ;
    </script>

    <section class="social">
        <nav class="share">
            <h3>Share your trip in:</h3>
            <a target="_blank" href="https://twitter.com/intent/tweet?text=I will travel @road. Join me with TAS!&amp;url=http://example.com/">
                Twitter</a>
            <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://example.com/">Facebook</a>
            <a target="_blank" href="https://plus.google.com/share?url=http://example.com/">Google+</a>
        </nav>
        <nav class="print">
            <h3>To print your trip:</h3>
            <a href="javascript:window.print();">click here</a>
        </nav>
    </section>

    <!-- Map support goes here -->
    <!-- logic goes in /js/loadMap.js -->

    <div class="container" id="map-canvas">
        <h2>Route:</h2>

        <div id="mymap"></div>
        <div id="directionsPanel" style="float : right ; width : 30 % ; height 100 %">
            <p>Total Distance: <span id="total"></span></p>
        </div>

}